.game--scoreboard {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #13131349;
    min-width: 12.5rem;
    max-width: 18.75rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    transform: translate(-100%);
    transition: 0.4s ease-in;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.aberto {
    transform: translate(0%);
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}

.sb--item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}