@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

:root {
    --bg-angle: 0deg;
    --angulo--border: 0deg;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
}

.video--container {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -999;
    overflow: hidden;
}

#background--video {
    min-width: 100%;
    min-height: 100%;
}

.word--box {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.char--box {
    position: relative;
    background-color: hsl(244, 47%, 14%);
    font-size: 6rem;
    width: 32rem;
    height: 6.625rem;
    color: white;
    text-align: center;
    text-shadow: -4px 7px 20px #fc00ff, -2px -3px 15px #00dbde;
    z-index: 1;
    transition: all 0.3s ease;
}

.char--box input {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: inherit;
    text-transform: uppercase;
}


.game--core {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;
    min-width: 48rem;
    max-width: 56.25rem;
    height: 40.5rem;
    border: 2px solid white;
    background-color: hsl(244, 47%, 14%);
}

h1 {
    flex: 0 1;
    font-size: 2.25rem;
}

.char--box::after {
    content: "";
    z-index: -2;
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-angle), oklch(0.67 0.3 328) 0%, oklch(0.81 0.2 230) 100%);
    filter: blur(20px);
}


.char--box::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .25rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-angle), oklch(0.67 0.3 328) 0%, oklch(0.81 0.2 230) 100%);
    z-index: -2;
    pointer-events: none;
}

.gradient--text {
    font-size: 5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #ff00ff, #ff0080, #ff0000, #ff8000, #ffff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.gradient--text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

/* botões */

button {
    all: unset;
    border: 2px solid white;
    width: 56px;
    height: 56px;
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background:
        conic-gradient(from var(--bg-angle), hsl(244, 47%, 14%), hsl(244, 47%, 14%)) padding-box,
        conic-gradient(from var(--bg-angle), oklch(0.67 0.3 328) 0%, oklch(0.81 0.2 230) 100%) border-box;
    border: 2px solid white;
    animation: spin 0.7s linear infinite paused;

}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}